@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
body {
  background-color: #151515;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  outline: none;
}
.btnBgBlur {
  backdrop-filter: blur(10px);
  background: rgba(255,255,255,.2);
}
.btnBgBlur:hover {
  backdrop-filter: blur(5px);
  background: rgba(255,255,255,.15);
}
.pColor {
  color: #fea500 !important;
}

.pbgColor {
  background-color: #fea500 !important;
}

.pbgColor:hover {
  background-color: #e99700 !important;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.homewrapper {
  /* max-width: 1600px; */
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}
.homeSliderCZ div{height: 100%;}
/* Our Customize css */
.slideMain {
  /* aspect-ratio: 16/9;
  min-height: calc(100vh + 100px); */
  width: 100%;
  position: relative;
}

.slideMain h2 {
  line-height: 50px;
}

.slideMain .sliderSet {
  height: calc(100% + 18px);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
}

.slideMain>img {
  height: 100%;
  max-height: 600px !important;
  min-height: 600px;
  object-fit: cover;
  width: 100%;
}

.slideMain:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(136, 171, 252);
  background: -moz-radial-gradient(circle, rgba(136, 171, 252, 0) 0%, rgba(0, 0, 0, 0.7511379551820728) 100%, rgba(151, 170, 244, 1) 100%);
  background: -webkit-radial-gradient(circle, rgba(136, 171, 252, 0) 0%, rgb(0 0 0) 100%, rgba(151, 170, 244, 1) 100%);
  background: radial-gradient(circle, rgba(136, 171, 252, 0) 0%, rgb(0 0 0) 100%, rgba(151, 170, 244, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#88abfc", endColorstr="#97aaf4", GradientType=1);
}

.sliderContent {
  width: 100%;
}
@keyframes sliderContent {
  0% {opacity:0;}
  50% {opacity:0;}
  100% {opacity:1;}
}
.sliderContentSet {
  max-width: 600px;
  animation: sliderContent 1s;
}

ul.indicators {
  top: 94vh;
  position: absolute;
  left: 0;
  width: 100%;
}

ul.indicators .indicator.active div {
  @apply px-3 pbgColor transition;
}

.react-slideshow-container button.nav.default-nav {
  visibility: hidden;
}

/* Our Customize css */
.cardSet {
  padding: 6px;
}

.cardSet:hover b {
  color: #fea500;
  @apply transition;
}

.albumDetail {
  display: none;
}

.cardSet:hover .albumDetail {
  display: block;
}

.cardSet span:before {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0) 43%, rgba(233, 200, 37, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0) 43%, rgba(233, 200, 37, 1) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 43%, rgba(233, 200, 37, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#e9c825", GradientType=1);
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 12px;
  transition: .5s;
  opacity: 0;
}
.profileActive{ color: #fea500  ; border-color:#fea500 }

.cardSet:hover span:before,
.cardSet:hover svg {
  opacity: 1;
}

section.listTop10:hover h4 {
  color: #fea500 !important;
}

section.listTop10 label {
  color: #666;
  background-color: #222;
  ;
}

section.listTop10:hover label {
  background-color: #fea500;
  color: #000;
}

section.listTop10 b {
  color: #fea500;
  border: 1px solid #fea500;
  background-color: #222;
  ;
}

section.listTop10:hover b {
  background-color: #fea500;
  color: #000;
}

.footerSet {
  background-image: url(/assets/images/donkeyF.png);
  height: 475px;
  background-size: 110% auto;
  position: relative;
  background-color: #151515;
  background-position: center bottom;
  background-repeat: no-repeat
}

.f-Links a:hover {
  color: #fea500;
}

.borderSet {
  /* border-top: 2px solid #fea500; */
  /* margin-top: 15px; */
  padding-top: 5px;
}

img.bgAlbumDetail {
  width: 100%;
  max-height: 1200px;
  object-fit: cover;
}

.react-slideshow-container .indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 20px;
}

.react-slideshow-container .indicators div {
  width: 10px;
  height: 10px;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.react-slideshow-container .indicators .active {
  background-color: white;
}

/* 
.navSet {
  display: none;
  opacity: 0;
  animation: overlayHide .5s ease-in-out;
}

@keyframes overlayHide {
  0% {
    display: block;
    opacity: 1;
  }

  90% {
    display: block;
    opacity: 0;
  }

  100% {
    display: none;
  }
}

.navSetOpen {
  display: block;
  opacity: 1;
  animation: overlay .5s ease-in-out;
}

@keyframes overlay {
  0% {
    display: none;
    opacity: 0;
  }

  10% {
    display: block;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.navSet div {
  left: -300px;
  transition: .5s;
}

.navSet.navSetOpen div {
  left: 0;
  animation: nav .5s ease-in-out;
}

@keyframes nav {
  0% {
    left: -300px;
  }

  10% {
    left: -300px;
  }

  100% {
    left: 0;
  }
} */
/* .navSet{display: none;  animation: nav .5s ease-in-out;}
.navSet.navSetOpen{display: block;} */
.videoFrame{aspect-ratio: 16 / 9;}
.navSet .closeMenu{display:none;}
.navSet.navSetOpen .closeMenu{display:block;}
section.closeMenu {
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  z-index: 0;
  cursor: pointer;
}
.navSet {z-index:-1;}
.navSet.navSetOpen {z-index:20;}
.navSet div {transition:.5s; max-height: 0px; opacity: 0;}
.navSet.navSetOpen div {max-height:100vh; opacity: 1;}
.navInners section {
  left: 100%;
  width: 400px;
  background: #474747;
  display: none;
  top: 0;
  min-height: 100%;
  margin-left: 0;
  max-height: 100%;
  overflow: auto;
}

.navInners:hover section {
  display: block;
}

.navInners section a {
  width: 50%;
  float: left;
  font-size: 14px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navInners section a:hover {
  background: #f59e0b;
}

.navInners section a {
  padding-top: 6px;
  padding-bottom: 6px;
}
.profileLinks {
  max-height: 0px;
  transition: .5s;
  overflow: hidden;
}

.openProfileLinks.profileLinks {
  max-height: 500px;
}
.intellesense{transition:.5s; max-height:0;}
.intellesense.intellesenseOpen{ max-height:1000px;}
.intellesense div:last-child{border:none;}
.p-multiselect-panel{max-width:500px}
ul.p-multiselect-items{min-width: 200px;}
@media only screen and (max-width: 1023px){
  .homeSliderCZ {
    max-width: 100% !important;
}
  .cardSet:hover .albumDetail {
    display: none;
  }
}
@media only screen and (max-width: 767px){
  .navInners section{width:150px}
  .navInners section a{width:100%;}
  .mobileSearch {
    position: absolute;
    left: 0;
    top: 50px;
    display: none;
}
.mobileSearch.w-full.openMobileSearch {display: block;}
.mobileSearch .searchBar {
    padding: 0 !important;
}
.mobileSearch .searchBar section {
    max-width: 100%;
}
.slideMain{min-height: 600px;}
ul.indicators {
  display: none !important;
}
.footerSet {
  height: 350px;
}
}

@media only screen and (max-width: 480px){
  .phoneFooter {
    position: relative;
    top: -60px;
}
  .footerSet {
    height: 250px;
  }
}
::-webkit-scrollbar {
  width: 6px;
  height: 20px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #fea500 ;
  border-radius: 100vh;
}
/* 
::-webkit-scrollbar-thumb:hover {
  background: #444;
} */